@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET Core MVCのコンテンツです。</p>
    <my-simple-component name="test"></my-simple-component>
    <greeting-card name="test" message="よろしく"></greeting-card>
</div>

<hr />


<div id="mvc-react-root"></div>


<link rel="stylesheet" href="/react-app/static/css/main.fb665e37.css" />
<script src="/react-app/static/js/main.6ee86eb9.js"></script>
