@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET Core MVCのコンテンツです。</p>
</div>

<hr />


<div id="mvc-react-root"></div>

<link rel="stylesheet" href="/react-app/static/css/main.fb665e37.css" />
<script src="/react-app/static/js/main.0a5738d3.js"></script>
