@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="react-root-privacy"></div>

<link rel="stylesheet" href="/react-app/static/css/main.fb665e37.css" />
<script src="/react-app/static/js/main.0a5738d3.js"></script>